body {
    font-family: 'lato', sans-serif;
  }
  .vuln-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
  }
  
  .vuln-table {
    li {
      border-radius: 3px;
      padding: 15px 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }
    .vuln-table-header {
      background-color: #95A5A6;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
    }
    .Vuln-Result-Row {
      background-color: #F6FCFC;
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
/*       :hover{
        background-color: #DBE9E9;
      } */
    }
    .col-1 {
      flex-basis: 25%;
    }
    .col-2 {
      flex-basis: 40%;
    }
    .col-3 {
      flex-basis: 35%;
    }
    
    @media all and (max-width: 767px) {
      .vuln-table-header {
        display: none;
      }
      .Vuln-Result-Row{
        
      }
      li {
        display: block;
      }
      .vuln {
        
        flex-basis: 100%;
        
      }
      .vuln {
        display: flex;
        padding: 10px 0;
        &:before {
          color: #6C7A89;
          padding-right: 10px;
          content: attr(data-label);
          flex-basis: 50%;
          text-align: right;
        }
      }
    }
  }