.listItem{
    padding: 15px 0;
}
.addButton{
    /* margin-top:2em; */
}

.libraryField{
    width: 60%;
}

.libraryFieldContainer{
    width: 100%;
    padding: 15px 0;
}

.versionField{
    width: 60%;
}

.linkButton{
    float: right;
}

.comboBoxContainer{
    margin-top: 1.5em;
}

.alert{
    
}

.buttonContainer{
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    align-content: center;
    align-items: center;
    margin-top: 2em;
    gap:2em;
    flex-wrap:wrap;
}