
  .vulnContainer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
/*     padding-left: 10px;
    padding-right: 10px; */
  }
  
  .link{
    text-decoration: none;
    color: #1131a5;
    font-weight: bold;
  }

  .link:hover{
      color:#9d0d85;
      transition: 0.3s;
      font-size: 17px;
  }
  
.vulncol{
  flex-basis: 16%;
}
.descCol{
  flex-basis:75%;
}

.delAssocCol{
  flex-basis:3%;
}

.editCol{
  flex-basis:3%;
}


  .vulncol,.infocol,.descCol, .delCol, .editCol, .delAssocCol{
     margin: auto;
  }
  .col1,.col2,.col3,.col4,.col5,.col6,.col7,.col8,.col9{
    margin: auto;
    text-align: center;
  }
  .col1 {
    flex-basis: 10%; 
  }
  .col2 {
    flex-basis: 10%;
  }
  .col3 {
    flex-basis: 10%;
  }
  .col4 {
    flex-basis: 15%;
  }
  .col5 {
    flex-basis: 23%;
  }
  .col6 {
    flex-basis: 23%;
  }

  .col7 {
    flex-basis: 3%;
  }

  .col8 {
    flex-basis: 3%;
  }

  .col9{
    flex-basis: 3%;
  }

  .vulnTable {

    .vulnTableHeader, .vulnResultRow{

      display: flex;
      justify-content: space-between;
      border-radius: 3px;
      padding: 20px 30px;
      margin-bottom: 20px;
      background-color: #F6FCFC;

    }

    .vulnResultRowCVE{
      display: flex;
      justify-content: space-between;
      border-radius: 3px;
      padding: 5px 15px;
      //margin-top: 5px;
      margin-bottom: 20px;
      background-color: #fbf3de;
    }
    .vulnTableHeader {
      background-color: #95A5A6;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,1);
    }
    .vulnResultRow, .vulnResultRowCVE {
      
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.2);
      
   
      /* .infocol{
        flex-basis: 5%;
      } */
      .link{
        text-decoration: none;
        color: #1131a5;
        font-weight: bold;
      }

      .link:hover{
          color:#9d0d85;
          transition: 0.3s;
          font-size: 17px;
      }
    }
    .vulnResultRowCVE:hover, .vulnResultRow:hover{
      transition: 0.3s;
      //font-size: 18px;
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
    }

    .vulnResultRowCVE:hover{
      background-color: #e6ddc6;
    }
    .vulnResultRow:hover{
      background-color: #DBE9E9;
      transition: 0.3s;
      //font-size: 18px;
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
      cursor: s-resize;
    } 

    .vuln{
        
    }
    
    
    @media all and (max-width: 767px) {
      .vulnTableHeader {
        display: none;
      }

      li {
        display: block;
      }
      .vuln {
        
        flex-basis: 100%;
        
      }
      .vuln {
        display: flex;
        padding: 10px 0;
        &:before {
          color: #6C7A89;
          padding-right: 10px;
          content: attr(data-label);
          flex-basis: 50%;
          text-align: right;
        }
      }
    }
  }