@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

html,
body {

  font-family: 'lato', sans-serif;
}

li{
  list-style: none;
}

textArea{
  font-size: 14px;
  border-radius: 10px;
  transition: transform 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: all 250ms ease-in-out;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,1);
  padding: 12px 14px;
  margin:auto;
  height: 4em;
}

textArea::placeholder{
  color: color(#575756 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

textArea:hover{
  background-color: #eff8f4;
  padding: 12px 10px 12px 0px;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
  background-color: #F6FCFC;;
  box-shadow: none;


}

.box{
  border: 1px solid #575756;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,1);
  /* background-color: #eff8f4; */
  background-color:#F6FCFC;
}

.box:hover{
  background-color: #F6FCFC;
}

.urlInput{
  width: 350px;
}

.inputField{

  font-size: 14px;
  line-height: 18px;
  border-radius: 10px;
  border: 1px solid #575756;
  padding: 12px 14px;
  margin:auto;
  transition: transform 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: all 250ms ease-in-out;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,1);
}

.inputField:focus{
  padding: 12px 10px 12px 0px;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
  background-color: #F6FCFC;
  box-shadow: none;
}

.inputField:hover{
  padding: 12px 10px 12px 0px;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
  background-color: #F6FCFC;
  box-shadow: none;
}

.inputField:invalid {
  box-shadow: 0 0 5px 1px red;
}
.inputField::placeholder{
  color: color(#575756 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

label{
  font-size: 14px;
  font-weight: 600;
  color: #2F443F;

}

.submitButton{

}

.combobox{
    /* border-radius: 10px; */
}