.navBar{
	justify-content: space-between;
    align-items:flex-end;
    display:flex;
    margin: auto;
}
.navItem {
    list-style: none;
    text-transform: uppercase;
	min-width: 80px;
    padding-left: 30px;
    float: right;
}
