.navBar{
	justify-content: space-between;
    align-items:flex-end;
    display:flex;
    margin: auto;
}
.navItem {
    list-style: none;
    text-transform: uppercase;
	min-width: 80px;
    padding-left: 30px;
    float: right;
}


.link{
    text-decoration: none;
    float: right;
}

.link:link{
    color: rgb(63, 75, 79);
  
}

.active{
    color:orange;
    text-decoration: underline;
}
.link:hover {
  color: #27262c;
  text-shadow: 0 -1px 0 #94a4e7;
   font-weight: bold;
}
.link:active {
  transform: translateY(4px);
}